<style>
    img {
        width: 100%;
    }
</style>

<div class="container mt-4 mb-5">
    <h3 class="mt-4">Notification</h3>
    <div class="card shadow-sm py-2 px-5">
        <div class="card-body py-2 px-md-2 mr-0" id="login-form">
            <div id="card-form">
                <div id="container-notification">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        retrieveNotification();

        function populateNotificationRow(questionID, userName, message, description, date) {
            return `<div class="card-row py-2 px-5">
                <div class="row py-3">
                    <div class="col-1"><img class="img-profile rounded-circle" style="width:60px; height: 60px" src="./../../resource/profile/default.svg"></div>
                    <div class="col">
                        <div class="row mb-0 pb-0" >
                            <div class="col mb-0 pb-0">
                                <h6 class="mb-0 pb-0"><b class="mb-0 pb-0">${userName} </b> ${message}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <small class="text-muted">${date}</small>
                            </div>
                        </div>
                        <div class="row mt-4 mb-0 pb-0">
                            <div class="col">
                                <p class="mb-0 pb-0">
                                <a href="?id=${questionID}#main-forum" id="${questionID}" class="button-select-question stretched-link">
                                    ${description}
                                </a>
                            </p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="sidebar-divider my-0">
            `;
        }

        function retrieveNotification() {
            $.ajax({
                url: "../../common/db.php",
                type: "POST",
                data: {
                    action: 'retrieve-notification'
                },
                cache: false,
                success: function(dataResult) {
                    var dataResult = JSON.parse(dataResult);
                    if (dataResult.statusCode == 200) {
                        var notifications = "";
                        dataResult.notificationList.forEach(notification => {
                            var type = notification.type;
                            var message;
                            if (type == "1") {
                                message = "answered your question!"
                            } else {
                                message = "replied to you answer!"
                            }
                            notifications += populateNotificationRow(notification.questionID, notification.detail.name, message, notification.detail.answer, notification.creationDateTime);
                        });
                        console.log("notifications");
                        $("#container-notification").html(notifications);
                    } else {
                        alert("Unable to post the answer, please try again later!");
                    }

                    $(".button-select-question").on('click', function(event) {
                        $("#main-container").load('./form-main-forum.html');
                    });
                }
            });
        }
    });
</script>