<style>
    img {
        width: 100%;
    }
</style>


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<div class="container mt-4 mb-5">
    <h3 class="mt-4">My Activities</h3>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="" id="activity-question">Question</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" id="activity-answer">Answer </a>
        </li>
    </ul>
    <div class="card shadow-sm py-2 px-5">
        <div class="card-body py-2 px-md-2 mr-0" id="login-form">
            <div id="card-form">
                <div id="container-activity">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var subjectList;
        var activityAnswer = "";
        var activityQuestion = "";
        getSubjectList();
        retrieveActivities();
        $("#activity-question").on("click", function() {
            event.preventDefault();
            $("#activity-question").addClass("active");
            $("#activity-answer").removeClass("active");
            $("#container-activity").html(activityQuestion);
        });

        $("#activity-answer").on("click", function() {
            event.preventDefault();
            $("#activity-answer").addClass("active");
            $("#activity-question").removeClass("active");
            // console.log(activityAnswer);
            $("#container-activity").html(activityAnswer);
        });

        function populateQuestionRow(questionID, date, subject, title) {
            return `<div class="card-row py-2 px-5">
                <div class="row py-3">
                    <div class="col">
                        <div class="row">
                            <div class="col-3">
                                <small class="text-muted">${date}</small>
                            </div>
                            <div class="col-3">
                                <small class="text-muted">${subject}</small>
                            </div>
                        </div>
                        <div class="row mt-4 mb-0 pb-0">
                            <div class="col">
                                <p class="mb-0 pb-0">
                                <a href="?id=${questionID}#main-forum" id="${questionID}" class="button-select-question stretched-link">
                                    ${title}
                                </a>
                            </p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="sidebar-divider my-0">
            `;
        }

        function populateAnswerRow(questionID, id, date, description) {
            return `<div class="card-row py-2 px-5">
                <div class="row py-3">
                    <div class="col">
                        <div class="row">
                            <div class="col-3">
                                <small class="text-muted">${date}</small>
                            </div>
                        </div>
                        <div class="row mt-4 mb-0 pb-0">
                            <div class="col">
                                <p class="mb-0 pb-0">
                                <a href="?id=${questionID}#main-forum" id="${questionID}" class="button-select-question stretched-link">
                                    ${description}
                                </a>
                            </p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="sidebar-divider my-0">
            `;
        }

        function retrieveActivities() {
            $.ajax({
                url: "../../common/db.php",
                type: "POST",
                data: {
                    action: 'retrieve-activities'
                },
                cache: false,
                success: function(dataResult) {
                    var dataResult = JSON.parse(dataResult);
                    if (dataResult.statusCode == 200) {

                        dataResult.questionList.forEach(question => {
                            activityQuestion += populateQuestionRow(question.questionID, question.creationDateTime, getSubjectName(question.subjectID), question.title);
                        });

                        dataResult.answerList.forEach(answer => {
                            activityAnswer += populateAnswerRow(answer.questionID, answer.answerID, answer.creationDateTime, answer.answer);

                        });

                        $("#container-activity").html(activityQuestion);
                    } else {
                        alert("Unable to post the answer, please try again later!");
                    }

                    $(".button-select-question").on('click', function(event) {
                        $("#main-container").load('./form-main-forum.html');
                    });
                }
            });
        }

        function getSubjectList() {
            $.ajax({
                url: "../../common/db.php",
                type: "POST",
                data: {
                    action: 'retrieve-active-subject-list'
                },
                cache: false,
                success: function(dataResult) {
                    var subjectOptions = "";
                    var dataResult = JSON.parse(dataResult);
                    if (dataResult.statusCode == 200) {
                        subjectList = dataResult.subjectList;
                    }
                }
            });
        }

        function getSubjectName(subjectID) {
            var subjectName = "";
            subjectList.forEach(subject => {
                if (subjectID == subject['subjectID']) {
                    subjectName = subject['subject'];
                    return;
                }
            });
            return subjectName;
        }
    });
</script>