
<form onsubmit="event.preventDefault()">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row">
      <div class="col-md-6 mb-4">
        <h2>Success!</h2>
      </div>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label for="">You account registration has been sent and pending for approval from admins. Kindly try to login later. Thanks!</label>
    </div>
  
    <div class="form-outline mb-4">
        <div class="form-check d-flex justify-content-center mb-2">
            <a href="#" onclick='loadHtml("login-form", "./component/login/login-form.html")'>Back to login</a>
      </div>
    </div>
  </form>