
<form onsubmit="event.preventDefault()">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row">
      <div class="col-md-6 mb-4">
        <h2>Forget Password</h2>
      </div>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" placeholder="Enter email address"/>
    </div>
  
    <div class="form-outline mb-4">
        <!-- Submit button -->
        <button type="submit" onclick='loadHtml("login-form", "./component/login/send-email-form.html")' class="btn btn-primary btn-block mb-4 w-100">
            Send Email
        </button>

        <div class="form-check d-flex justify-content-center mb-2">
            <a href="#" onclick='loadHtml("login-form", "./component/login/login-form.html")'>Back</a>
      </div>
    </div>
  </form>