<form onsubmit="event.preventDefault()">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row">
      <div class="col-md-6 mb-4">
        <h2>Create Account</h2>
      </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example4">Instruction: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, odit.</label>
        <select class="form-control" class="dropdown" id="dropScanType">
            <option value="volvo">--Please select--</option>
            <option value="1">COR Scan</option>
            <option value="2">QR Code Scan</option>
        </select>
    </div>
    <div class="form-check d-flex justify-content-center mb-2">
        <a href="#" id="btnBack">Back to login</a>
    </div>
  </form>

  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>modal</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
      $("#dropScanType").change(function () {
        // $('#exampleModal').modal('toggle');
        if(this.value){
          $("#card-form").load('./form-create-account-cor.html');
        } else {
          $("#card-form").load('./form-create-account-qr.html');
        }       
      });

      $('.close').on('click', function() {
        $('#exampleModal').modal('toggle');
      });




      $('#btnBack').on('click', function() {
          $("#card-form").load('./form-login.html');
      });

      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      })
  
      
      $('#btnLogin').on('click', function() {
        var email = $('#loginEmail').val();
        var password = $('#loginPassword').val();
        if(email!="" && password!="" ){
          $.ajax({
            url: "../../common/db.php",
            type: "POST",
            data: {
              action:'login',
              email: email,
              password: password						
            },
            cache: false,
            success: function(dataResult){
              var dataResult = JSON.parse(dataResult);
              if(dataResult.statusCode==200){
                location.href = "../login/login.php";						
              }
              else if(dataResult.statusCode==201){
                $("#error").show();
                $('#error').html('Invalid EmailId or Password !');
              }
            }
          });
        }
        else{
          alert('Please fill all the field !');
        }
      });
    
    
    
      $('#register').on('click', function() {
        $("#register_form").show();
        $("#login_form").hide();
      });
      $('#butsave').on('click', function() {
        $("#butsave").attr("disabled", "disabled");
        var name = $('#name').val();
        var email = $('#email').val();
        var phone = $('#phone').val();
        var city = $('#city').val();
        var password = $('#password').val();
        if(name!="" && email!="" && phone!="" && password!="" ){
          $.ajax({
            url: "save.php",
            type: "POST",
            data: {
              type: 1,
              name: name,
              email: email,
              phone: phone,
              city: city,
              password: password						
            },
            cache: false,
            success: function(dataResult){
              var dataResult = JSON.parse(dataResult);
              if(dataResult.statusCode==200){
                $("#butsave").removeAttr("disabled");
                $('#register_form').find('input:text').val('');
                $("#success").show();
                $('#success').html('Registration successful !'); 						
              }
              else if(dataResult.statusCode==201){
                $("#error").show();
                $('#error').html('Email ID already exists !');
              }
              
            }
          });
        }
        else{
          alert('Please fill all the field !');
        }
      });
      $('#butlogin').on('click', function() {
        var email = $('#email_log').val();
        var password = $('#password_log').val();
        if(email!="" && password!="" ){
          $.ajax({
            url: "save.php",
            type: "POST",
            data: {
              type:2,
              email: email,
              password: password						
            },
            cache: false,
            success: function(dataResult){
              var dataResult = JSON.parse(dataResult);
              if(dataResult.statusCode==200){
                location.href = "welcome.php";						
              }
              else if(dataResult.statusCode==201){
                $("#error").show();
                $('#error').html('Invalid EmailId or Password !');
              }
              
            }
          });
        }
        else{
          alert('Please fill all the field !');
        }
      });
    });
  </script>