<form id="formForgotPassword">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row">
      <div class="col-md-6 mb-4">
        <h2>Forget Password</h2>
      </div>
    </div>
  
    <div class="alert alert-danger alert-dismissible" id="error" style="display:none;">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="inputEmail" class="form-control" placeholder="Enter email address"/>
    </div>
  
    <div class="form-outline mb-4">
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 w-100">
            Send Email
        </button>

        <div class="form-check d-flex justify-content-center mb-2">
            <a href="#" id='btnBack'>Back</a>
      </div>
    </div>
  </form>

  <script>
    $(document).ready(function() {
      $('#btnBack').on('click', function() {
          $("#card-form").load('./form-login.html');
      });

      $("#formForgotPassword" ).on("submit", function( event ) {
        event.preventDefault();
        var email = $('#inputEmail').val();
        $.ajax({
          url: "../../common/db.php",
          type: "POST",
          data: {
            action:'forgot-password',
            email: email			
          },
          cache: false,
          success: function(dataResult){
            var dataResult = JSON.parse(dataResult);
            if(dataResult.statusCode==200){
              $("#card-form").load('../login/form-forgot-password-success.html');
            } else if(dataResult.statusCode==5006){
              $("#error").show();
              $('#error').html('Invalid Email Address!');
            }
          }
        });

      });
    });
  </script>