<form onsubmit="event.preventDefault()">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row">
      <div class="col-md-6 mb-4">
        <h2>Create Account</h2>
      </div>
    </div>

    <div class="form-outline mb-4">
        <select class="form-control" class="dropdown" id="yearLevel">
            <option value="volvo">--Please select--</option>
            <option value="1">COR Scan</option>
            <option value="2" selected>QR Code Scan</option>
        </select>
        <label class="form-label" for="form3Example4">Scan Type</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" placeholder="Enter Student ID"/>
      <label class="form-label" for="form3Example3">Student ID</label>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" placeholder="Enter email address"/>
      <label class="form-label" for="form3Example3">Email address</label>
    </div>

    <div class="form-outline mb-4">
        <input type="email" id="form3Example3" class="form-control" placeholder="Enter user name"/>
        <label class="form-label" for="form3Example3">User name</label>
    </div>
 
    <div class="form-outline mb-4">
        <input type="email" id="form3Example3" class="form-control" placeholder="Enter Full name"/>
        <label class="form-label" for="form3Example3">Full name</label>
    </div>

    <div class="form-outline mb-4">
        <select class="form-control" class="dropdown" id="yearLevel">
            <option value="volvo">--Please select--</option>
            <option value="saab">First Year</option>
            <option value="saab">Second Year</option>
            <option value="saab">Third Year</option>
            <option value="saab">Fourth Year</option>
        </select>
        <label class="form-label" for="form3Example4">Year Level</label>
    </div>

    <div class="form-outline mb-4">
        <select class="form-control" class="dropdown" id="yearLevel">
            <option value="volvo">--Please select--</option>
            <option value="saab">Sample Value 1</option>
            <option value="saab">Sample Value 2</option>
            <option value="saab">Sample Value 3</option>
            <option value="saab">Sample Value 4</option>
        </select>
        <label class="form-label" for="form3Example4">Specialization</label>
    </div>
    
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form3Example4" class="form-control" placeholder="Enter password"/>
      <label class="form-label" for="form3Example4">Password</label>
    </div>

    <div class="form-outline mb-4">
        <input type="password" id="form3Example4" class="form-control" placeholder="Enter password"/>
        <label class="form-label" for="form3Example4">Confirm Password</label>
    </div>
    
    <!-- Submit button -->
    <button type="submit" onclick='loadHtml("login-form", "./component/login/account-created-form.html")' class="btn btn-primary btn-block mb-4 w-100">
      Create Account
    </button>

    <div class="form-check d-flex justify-content-center mb-2">
          <label class="form-check-label" for="form2Example33">
            - OR -
          </label>
    </div>
    <div class="form-check d-flex justify-content-center mb-2">
      <a href="#" id="btnBack">Back to login</a>>
    </div>
  </form>

  
<script>
  $(document).ready(function() {
      $("#dropScanType").change(function () {
        // $('#exampleModal').modal('toggle');
        if(this.value){
          $("#card-form").load('./form-create-account-cor.html');
        } else {
          $("#card-form").load('./form-create-account-qr.html');
        }       
      });

      $('.close').on('click', function() {
        $('#exampleModal').modal('toggle');
      });




      $('#btnBack').on('click', function() {
          $("#card-form").load('./form-login.html');
      });

      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      })
  
      
      $('#btnLogin').on('click', function() {
        var email = $('#loginEmail').val();
        var password = $('#loginPassword').val();
        if(email!="" && password!="" ){
          $.ajax({
            url: "../../common/db.php",
            type: "POST",
            data: {
              action:'login',
              email: email,
              password: password						
            },
            cache: false,
            success: function(dataResult){
              var dataResult = JSON.parse(dataResult);
              if(dataResult.statusCode==200){
                location.href = "../login/login.php";						
              }
              else if(dataResult.statusCode==201){
                $("#error").show();
                $('#error').html('Invalid EmailId or Password !');
              }
            }
          });
        }
        else{
          alert('Please fill all the field !');
        }
      });
    
    
    
      $('#register').on('click', function() {
        $("#register_form").show();
        $("#login_form").hide();
      });
      $('#butsave').on('click', function() {
        $("#butsave").attr("disabled", "disabled");
        var name = $('#name').val();
        var email = $('#email').val();
        var phone = $('#phone').val();
        var city = $('#city').val();
        var password = $('#password').val();
        if(name!="" && email!="" && phone!="" && password!="" ){
          $.ajax({
            url: "save.php",
            type: "POST",
            data: {
              type: 1,
              name: name,
              email: email,
              phone: phone,
              city: city,
              password: password						
            },
            cache: false,
            success: function(dataResult){
              var dataResult = JSON.parse(dataResult);
              if(dataResult.statusCode==200){
                $("#butsave").removeAttr("disabled");
                $('#register_form').find('input:text').val('');
                $("#success").show();
                $('#success').html('Registration successful !'); 						
              }
              else if(dataResult.statusCode==201){
                $("#error").show();
                $('#error').html('Email ID already exists !');
              }
              
            }
          });
        }
        else{
          alert('Please fill all the field !');
        }
      });
      $('#butlogin').on('click', function() {
        var email = $('#email_log').val();
        var password = $('#password_log').val();
        if(email!="" && password!="" ){
          $.ajax({
            url: "save.php",
            type: "POST",
            data: {
              type:2,
              email: email,
              password: password						
            },
            cache: false,
            success: function(dataResult){
              var dataResult = JSON.parse(dataResult);
              if(dataResult.statusCode==200){
                location.href = "welcome.php";						
              }
              else if(dataResult.statusCode==201){
                $("#error").show();
                $('#error').html('Invalid EmailId or Password !');
              }
              
            }
          });
        }
        else{
          alert('Please fill all the field !');
        }
      });
    });
  </script>