<link rel="stylesheet" href="./login.css">
<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-lg-start h-100 " style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 ">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Code
            <span class="text-primary">Connect</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            <b><i>“The most important things in life are the connections you make with others.”</i></b> – Tom Ford  
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5 " id="login-form">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
