<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
<script src="./../../common/vendor/datatables/jquery.dataTables.js"></script>

<h1 class="h3 mb-2 text-gray-800">Admin Accounts</h1>
<p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto nam delectus facilis veniam ea iusto officiis odit maxime, inventore nihil.</p>

<div class="card shadow mb-4">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-4 align-middle">
                <h6 class="m-0 font-weight-bold text-primary align-middle mt-2">Inactive Admin List</h6>
            </div>
            <div class="col-2 text-right">
                <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#adminNewModal"><i class="fas fa-plus"></i> Add New Admin</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 text-right">

            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Admin ID</th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Admin ID</th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="adminInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Admin Information</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <b>Admin ID:</b> <label for="" id="mAdminID"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Name:</b> <label for="" id="mName"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Username:</b> <label for="" id="mUsername"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Email:</b> <label for="" id="mEmail"></label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose">Close</button>
                <!-- <button type="button" class="btn btn-success" id="btnApprove" >Approve</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="adminEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Admin Information</h5>
            </div>
            <div class="modal-body">
                <div class="row form">
                    <div class="col-lg-12">
                        <b>Admin ID: </b> <label for="" id="meAdminID"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Name: </b> <label for="" id="meName"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Username: </b> <label for="" id="meUsername"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Email: </b> <label for="" id="meEmail"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Status: </b>
                        <select class="form-control" class="dropdown" id="meStatus" required>
                        <option value="0">Inactive</option>
                        <option value="1">Active</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose">Close</button>
                <button type="button" class="btn btn-primary" id="btnUpdate">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="adminDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Admin Information</h5>
            </div>
            <div class="modal-body">
                <div class="row form">
                    <div class="col-lg-12">
                        <b>Admin ID: </b> <label for="" id="mdAdminID"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Name: </b> <label for="" id="mdName"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Username: </b> <label for="" id="mdUsername"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Email: </b> <label for="" id="mdEmail"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose">Close</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="adminNewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Admin</h5>
            </div>
            <div class="modal-body">
                <form id="formAdminCreateAccount" class="needs-validation" novalidate>
                    <div class="form-outline mb-2">
                        <label class="form-label" for="inputName">Full name</label>
                        <input type="text" id="inputName" class="form-control" placeholder="Enter Full name" required/>
                        <div class="invalid-feedback">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>

                    <div class="form-outline mb-2">
                        <label class="form-label" for="inputEmail">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required/>
                        <div class="invalid-feedback" id="htEmail">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>

                    <div class="form-outline mb-2">
                        <label class="form-label" for="inputUsername">User name</label>
                        <input type="text" id="inputUsername" class="form-control" placeholder="Enter user name" required/>
                        <div class="invalid-feedback" id="htUsername">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-2">
                        <label class="form-label" for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" class="form-control " placeholder="Enter Password" required/>
                        <div class="invalid-feedback">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="inputConfirmPassword">Confirm Password</label>
                        <input type="password" id="inputConfirmPassword" class="form-control " placeholder="Enter Confirm Password" required/>
                        <div class="invalid-feedback">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-2 w-100">
                  Create Admin Account
                </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var adminList;
        retrieveAdminList();

        $('#adminNewModal').on('shown.bs.modal', function() {
            var email = $('#inputEmail').val('');
            var username = $('#inputUsername').val('');
            var name = $('#inputName').val('');
            var password = $('#inputPassword').val('');
            var confirmPassword = $('#inputConfirmPassword').val('');
        });

        $("#btnUpdate").on('click', function() {
            var adminID = $('#meAdminID').html();
            var status = $('#meStatus').val();
            updateAccountStatus(adminID, status);
            $('#adminEditModal').modal('toggle');
        });

        $("#btnDelete").on('click', function() {
            var adminID = $('#mdAdminID').html();
            updateAccountStatus(adminID, '2');
            $('#adminDeleteModal').modal('toggle');
        });

        $("#dataTable").on('click', '.btnSelect', function() {
            var currentRow = $(this).closest("tr");
            var adminID = currentRow.find("td:eq(0)").html();
            $.each(adminList, function(key, admin) {
                console.log(admin);
                console.log(adminID == admin['adminID']);
                if (adminID == admin['adminID']) {
                    $('#mAdminID').html(admin['adminID']);
                    $('#mName').html(admin['name']);
                    $('#mUsername').html(admin['username']);
                    $('#mEmail').html(admin['email']);
                    $('#mPicture').html(admin['picture']);
                    $('#adminInfoModal').modal('toggle');
                    return;
                }
            });
        });

        $("#dataTable").on('click', '.btnEdit', function() {
            var currentRow = $(this).closest("tr");
            var adminID = currentRow.find("td:eq(0)").html();
            $.each(adminList, function(key, admin) {
                console.log(admin);
                console.log(adminID == admin['adminID']);
                if (adminID == admin['adminID']) {
                    $('#meAdminID').html(admin['adminID']);
                    $('#meName').html(admin['name']);
                    $('#meUsername').html(admin['username']);
                    $('#meEmail').html(admin['email']);
                    $("#meStatus").val(admin['status']).change();
                    $('#adminEditModal').modal('toggle');
                    return;
                }
            });
        });

        $("#dataTable").on('click', '.btnDelete', function() {
            var currentRow = $(this).closest("tr");
            var adminID = currentRow.find("td:eq(0)").html();
            $.each(adminList, function(key, admin) {
                console.log(admin);
                console.log(adminID == admin['adminID']);
                if (adminID == admin['adminID']) {
                    $('#mdAdminID').html(admin['adminID']);
                    $('#mdName').html(admin['name']);
                    $('#mdUsername').html(admin['username']);
                    $('#mdEmail').html(admin['email']);
                    $('#adminDeleteModal').modal('toggle');
                    return;
                }
            });
        });

        $("#formAdminCreateAccount").on("submit", function(event) {
            event.preventDefault();
            var hasError = false;
            var email = $('#inputEmail').val();
            var username = $('#inputUsername').val();
            var name = $('#inputName').val();
            var password = $('#inputPassword').val();
            var confirmPassword = $('#inputConfirmPassword').val();
            let regex = /[a-zA-Z0-9.-]+@bulsu\.edu\.ph/i;

            if (password != confirmPassword) {
                $("#inputPassword").addClass('is-invalid');
                $("#inputConfirmPassword").addClass('is-invalid');
                $("#btnCreateAccount").removeAttr("disabled", "disabled");
                hasError = true;
            } else {
                $("#inputPassword").removeClass('is-invalid');
                $("#inputConfirmPassword").removeClass('is-invalid');
            }

            if (!regex.test(email)) {
                $("#htEmail").html("Invalid email format, please us your BULSU email");
                $("#inputEmail").addClass('is-invalid');
                hasError = true;
            } else {
                $("#inputEmail").removeClass('is-invalid');
            }

            if (!hasError) {
                $("#btnCreateAccount").attr("disabled", "disabled");
                $.ajax({
                    url: "./../../common/db.php",
                    type: "POST",
                    data: {
                        action: 'create-admin-account',
                        email: email,
                        username: username,
                        name: name,
                        password: password
                    },
                    cache: false,
                    success: function(dataResult) {
                        var dataResult = JSON.parse(dataResult);

                        if (dataResult.statusCode.includes(5002)) {
                            $("#htUsername").html("This username was already been used!");
                            $("#inputUsername").addClass('is-invalid');
                        } else {
                            $("#inputUsername").removeClass('is-invalid');
                        }

                        if (dataResult.statusCode.includes(5003)) {
                            $("#htEmail").html("This email was already been used!");
                            $("#inputEmail").addClass('is-invalid');
                        } else {
                            $("#inputEmail").removeClass('is-invalid');
                        }

                        if (dataResult.statusCode.includes(200)) {
                            retrieveAdminList();
                            $('#adminNewModal').modal('toggle');
                        } else if (dataResult.statusCode.includes(201)) {
                            alert("error");
                        }
                        $("#btnCreateAccount").removeAttr("disabled", "disabled");
                    }
                });
            }
        });

        function updateAccountStatus(userID, status) {
            $.ajax({
                url: "../../common/db.php",
                type: "POST",
                data: {
                    action: 'update-account-status',
                    userID: userID,
                    status: status
                },
                cache: false,
                success: function(dataResult) {
                    var dataResult = JSON.parse(dataResult);
                    retrieveAdminList();
                }
            });
        }

        function retrieveAdminList() {
            $.ajax({
                url: "../../common/db.php",
                type: "POST",
                data: {
                    action: 'retrieve-admin-inactive-list'
                },
                cache: false,
                success: function(dataResult) {
                    var dataResult = JSON.parse(dataResult);
                    var adminData = "";
                    if (dataResult.statusCode != 201) {
                        adminList = dataResult;
                        $.each(dataResult, function(key, admin) {
                            adminData = adminData.concat("<tr>",
                                populateTableData(admin['adminID']),
                                populateTableData(admin['name']),
                                populateTableData(admin['email']),
                                populateTableData("<a class='btnSelect btn btn-sm btn-primary'><i class='fas fa-eye'></i></a> | <a class='btnEdit btn btn-sm btn-success'><i class='fas fa-edit' data-toggle='adminEditModal'></i></a> | <a class='btnDelete btn btn-sm btn-danger'><i class='fas fa-trash fa-cog'></i></a>"),
                                "</tr>");
                        });
                    } else {
                        adminData = adminData.concat("<tr class='odd'>", "<td valign='top' colspan='5' class='dataTables_empty'>No Admin Account Available</td>", "</tr>");
                    }
                    $("#tableBody").html(adminData);
                    $('#dataTable').DataTable();
                }
            });
        }
    });
</script>