<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
<script src="./../../common/vendor/datatables/jquery.dataTables.js"></script>

<h1 class="h3 mb-2 text-gray-800">Inactive Admin Accounts</h1>
<p class="mb-4">This page contains list of inactive admin accounts.</p>

<div class="card shadow mb-4">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-4 align-middle">
                <h6 class="m-0 font-weight-bold text-primary align-middle mt-2">Inactive Admin List</h6>
            </div>
            <div class="col-2 text-right">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 text-right">

            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="data-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Admin ID</th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Admin ID</th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-admin-info" tabindex="-1" role="dialog" aria-labelledby="modal-admin-info" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Admin Information</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <b>Admin ID:</b> <label for="" id="modal-admin-info-id"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Name:</b> <label for="" id="modal-admin-info-name"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Username:</b> <label for="" id="modal-admin-info-user-name"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Email:</b> <label for="" id="modal-admin-info-email"></label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-admin" tabindex="-1" role="dialog" aria-labelledby="modal-edit-admin" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Admin Information</h5>
            </div>
            <div class="modal-body">
                <div class="row form">
                    <div class="col-lg-12">
                        <b>Admin ID: </b> <label for="" id="modal-edit-admin-id"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Name: </b> <label for="" id="modal-edit-admin-name"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Username: </b> <label for="" id="modal-edit-admin-user-name"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Email: </b> <label for="" id="modal-edit-admin-email"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Status: </b>
                        <select class="form-control" class="dropdown" id="modal-edit-admin-status" required>
                        <option value="0">Inactive</option>
                        <option value="1">Active</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button-update">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete-admin" tabindex="-1" role="dialog" aria-labelledby="modal-delete-admin" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Admin Information</h5>
            </div>
            <div class="modal-body">
                <div class="row form">
                    <div class="col-lg-12">
                        <b>Admin ID: </b> <label for="" id="modal-delete-admin-id"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Name: </b> <label for="" id="modal-delete-admin-name"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Username: </b> <label for="" id="modal-delete-admin-user-name"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Email: </b> <label for="" id="modal-delete-admin-email"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="button-delete">Delete</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        var adminList;
        retrieveAdminList();

        $('#modal-new-admin').on('shown.bs.modal', function() {
            var email = $('#input-email').val('');
            var username = $('#input-user-name').val('');
            var name = $('#input-name').val('');
            var password = $('#input-password').val('');
            var confirmPassword = $('#input-confirm-password').val('');
        });

        $("#button-update").on('click', function() {
            var adminID = $('#modal-edit-admin-id').html();
            var status = $('#modal-edit-admin-status').val();
            updateAccountStatus(adminID, status);
            $('#modal-edit-admin').modal('toggle');
        });

        $("#button-delete").on('click', function() {
            var adminID = $('#modal-delete-admin-id').html();
            updateAccountStatus(adminID, '2');
            $('#modal-delete-admin').modal('toggle');
        });

        $("#data-table").on('click', '.a-button-select', function() {
            var currentRow = $(this).closest("tr");
            var adminID = currentRow.find("td:eq(0)").html();
            $.each(adminList, function(key, admin) {
                console.log(admin);
                console.log(adminID == admin['adminID']);
                if (adminID == admin['adminID']) {
                    $('#modal-info-admin-id').html(admin['adminID']);
                    $('#modal-info-admin-name').html(admin['name']);
                    $('#modal-info-admin-user-name').html(admin['username']);
                    $('#modal-info-admin-email').html(admin['email']);
                    $('#modal-info-admin-picture').html(admin['picture']);
                    $('#modal-info-modal').modal('toggle');
                    return;
                }
            });
        });

        $("#data-table").on('click', '.a-button-edit', function() {
            var currentRow = $(this).closest("tr");
            var adminID = currentRow.find("td:eq(0)").html();
            $.each(adminList, function(key, admin) {
                console.log(admin);
                console.log(adminID == admin['adminID']);
                if (adminID == admin['adminID']) {
                    $('#modal-edit-admin-id').html(admin['adminID']);
                    $('#modal-edit-admin-name').html(admin['name']);
                    $('#modal-edit-admin-user-name').html(admin['username']);
                    $('#modal-edit-admin-email').html(admin['email']);
                    $("#modal-edit-admin-status").val(admin['status']).change();
                    $('#modal-edit-admin').modal('toggle');
                    return;
                }
            });
        });

        $("#data-table").on('click', '.button-delete', function() {
            var currentRow = $(this).closest("tr");
            var adminID = currentRow.find("td:eq(0)").html();
            $.each(adminList, function(key, admin) {
                console.log(admin);
                console.log(adminID == admin['adminID']);
                if (adminID == admin['adminID']) {
                    $('#modal-delete-admin-id').html(admin['adminID']);
                    $('#modal-delete-admin-name').html(admin['name']);
                    $('#modal-delete-admin-user-name').html(admin['username']);
                    $('#modal-delete-admin-email').html(admin['email']);
                    $('#modal-delete-admin').modal('toggle');
                    return;
                }
            });
        });

        function updateAccountStatus(userID, status) {
            $.ajax({
                url: "../../common/db.php",
                type: "POST",
                data: {
                    action: 'update-account-status',
                    userID: userID,
                    status: status
                },
                cache: false,
                success: function(dataResult) {
                    var dataResult = JSON.parse(dataResult);
                    retrieveAdminList();
                }
            });
        }

        function retrieveAdminList() {
            $.ajax({
                url: "../../common/db.php",
                type: "POST",
                data: {
                    action: 'retrieve-admin-inactive-list'
                },
                cache: false,
                success: function(dataResult) {
                    var dataResult = JSON.parse(dataResult);
                    var adminData = "";
                    if (dataResult.statusCode != 201) {
                        adminList = dataResult;
                        $.each(dataResult, function(key, admin) {
                            adminData = adminData.concat("<tr>",
                                populateTableData(admin['adminID']),
                                populateTableData(admin['name']),
                                populateTableData(admin['email']),
                                populateTableData("<a class='button-select btn btn-sm btn-primary' data-toggle='modal' data-target='#modal-admin-info'><i class='fas fa-eye'></i></a> | <a class='btnEdit btn btn-sm btn-success' data-toggle='modal' data-target='#modal-edit-admin'><i class='fas fa-edit'></i></a> | <a class='button-delete btn btn-sm btn-danger' data-toggle='modal' data-target='#modal-delete-admin'><i class='fas fa-trash fa-cog'></i></a>"),
                                "</tr>");
                        });
                    } else {
                        adminData = adminData.concat("<tr class='odd'>", "<td valign='top' colspan='5' class='dataTables_empty'>No Admin Account Available</td>", "</tr>");
                    }
                    console.log(adminData);
                    $("#table-body").html(adminData);
                    $('#data-table').DataTable();
                }
            });
        }
    });
</script>