<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
<script src="./../../common/vendor/datatables/jquery.dataTables.js"></script>

<h1 class="h3 mb-2 text-gray-800">Answer List</h1>
<p class="mb-4">This page contains list of answers from the forums</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of Answer</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>StudentID</th>
                        <th>QuestionID</th>
                        <th>DateTime</th>
                        <th>Answer</th>
                        <th>Rating</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>StudentID</th>
                        <th>QuestionID</th>
                        <th>DateTime</th>
                        <th>Answer</th>
                        <th>Rating</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-info-answer" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Answer Information</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <b>Picture:</b> <label for="" id="modal-info-picture"></label>
                    </div>

                    <div class="col-lg-12">
                        <b>Answer ID:</b> <label for="" id="modal-info-answer-id"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Name:</b> <label for="" id="modal-info-name"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Year Level:</b> <label for="" id="modal-info-year-level"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Specialization:</b> <label for="" id="modal-info-specialization"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>Username:</b> <label for="" id="modal-info-user-name"></label>
                    </div>
                    <div class="col-lg-12">
                        <b>email:</b> <label for="" id="modal-info-email"></label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="button-reject">Reject</button>
                <button type="button" class="btn btn-success" id="button-approve">Approve</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var answerList;
        retrieveAnswerRequestList();

        $("#button-reject").on('click', function() {
            var answerID = $('#modal-info-answer-id').html();
            updateAccountStatus(answerID, '1');
        });

        $("#button-approve").on('click', function() {
            var answerID = $('#modal-info-answer-id').html();
            updateAccountStatus(answerID, '-1');
        });

        // code to read selected table row cell data (values).
        $("#dataTable").on('click', '.button-select', function() {
            var currentRow = $(this).closest("tr");
            var answerID = currentRow.find("td:eq(0)").html();
            $.each(answerList, function(key, answer) {
                console.log(answer);
                console.log(answerID == answer['answerID']);
                if (answerID == answer['answerID']) {
                    $('#modal-info-answer-id').html(answer['answerID']);
                    $('#modal-info-name').html(answer['name']);
                    $('#modal-info-year-level').html(answer['yearLevel']);
                    $('#modal-info-specialization').html(answer['specialization']);
                    $('#modal-info-user-name').html(answer['username']);
                    $('#modal-info-email').html(answer['email']);
                    $('#modal-info-picture').html(answer['picture']);
                    $('#modal-info-answer').modal('toggle');
                    return;
                }
            });
        });

        $('#sidebar-answer-account-request').on('click', function() {
            $("#admin-container").load('./answer-account-request.html');
        });



        function showAnswerData(answerID) {
            alert(answerID);
        }

        function updateAccountStatus(userID, status) {
            $.ajax({
                url: "../../common/db.php",
                type: "POST",
                data: {
                    action: 'update-account-status',
                    userID: userID,
                    status: status
                },
                cache: false,
                success: function(dataResult) {
                    var dataResult = JSON.parse(dataResult);
                    if (dataResult.statusCode == 200) {
                        alert("Success");
                    } else {
                        alert("Failed");
                    }
                    $('#modal-info-answer').modal('toggle');
                    $('#dataTable').DataTable();
                }
            });
        }

        function retrieveAnswerRequestList() {
            $.ajax({
                url: "../../common/db.php",
                type: "POST",
                data: {
                    action: 'retrieve-answer-list'
                },
                cache: false,
                success: function(dataResult) {
                    var dataResult = JSON.parse(dataResult);
                    if (dataResult.statusCode != 201) {
                        answerList = dataResult;
                        var answerData;
                        $.each(dataResult, function(key, answer) {
                            var answerID = answer['answerID'];
                            var rating = answer['rating'];
                            if (rating == null) {
                                rating = '0';
                            }
                            answerData += "<tr>" +
                                "<td>" + answerID + "</td>" +
                                "<td>" + answer['studentID'] + "</td>" +
                                "<td><a href='#'>" + answer['questionID'] + "<a/></td>" +
                                "<td>" + answer['creationDateTime'] + "</td>" +
                                "<td>" + answer['answer'] + "</td>" +
                                "<td>" + rating + "</td>" +
                                "<td><a class='button-select btn btn-xs btn-primary' data-id='" + answerID + "'><i class='fas fa-eye fa-cog'></i></a></td>" +
                                "</tr>";
                        });
                        $("#tableBody").html(answerData);
                    }
                    $('#dataTable').DataTable();
                }
            });
        }
    });
</script>