<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
<script src="./../../common/vendor/datatables/jquery.dataTables.js"></script>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Admin Account Request</h1>
<p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto nam delectus facilis veniam ea iusto officiis odit maxime, inventore nihil.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-4 align-middle">
                <h6 class="m-0 font-weight-bold text-primary align-middle mt-2">Admin List</h6>
            </div>
            <div class="col-2 text-right">
                <button class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add New Admin</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 text-right">
                
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Admin ID</th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <div>
                    <tr>
                        <th>Admin ID</th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="adminInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Admin Information</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <b>Admin ID:</b> <label for="" id="mAdminID"></label>
                </div>
                <div class="col-lg-12">
                    <b>Name:</b> <label for="" id="mName"></label>
                </div>
                <div class="col-lg-12">
                    <b>Username:</b> <label for="" id="mUsername"></label>
                </div>
                <div class="col-lg-12">
                    <b>Email:</b> <label for="" id="mEmail"></label>
                </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose" >Close</button>
          <!-- <button type="button" class="btn btn-success" id="btnApprove" >Approve</button> -->
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="adminEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Admin Information</h5>
        </div>
        <div class="modal-body">
            <div class="row form">
                <div class="col-lg-12">
                    <b>Admin ID: </b> <label for="" id="meAdminID"></label>
                </div>
                <div class="col-lg-12">
                    <b>Name: </b> <label for="" id="meName"></label>
                </div>
                <div class="col-lg-12">
                    <b>Username: </b> <label for="" id="meUsername"></label>
                </div>
                <div class="col-lg-12">
                    <b>Email: </b> <label for="" id="meEmail"></label>
                </div>
                <div class="col-lg-12">
                    <b>Status: </b>
                    <select class="form-control" class="dropdown" id="inputYearLevel" required>
                        <option value="0">Inactive</option>
                        <option value="1">Active</option>
                    </select>
                </div>

            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose" >Close</button>
          <button type="button" class="btn btn-primary" id="btnUpdate" >Update</button>
        </div>
      </div>
    </div>
  </div>

<script>
$(document).ready(function() {
    var adminList;   
    retrieveAdminRequestList();

    $("#btnUpdate").on('click', function(){
        var adminID = $('#meAdminID').html();
        updateAccountStatus(adminID, '1');
    });

    $("#btnApprove").on('click', function(){
        var adminID = $('#mAdminID').html();
        updateAccountStatus(adminID, '-1');
    });
    
    $("#dataTable").on('click','.btnSelect',function(){
        var currentRow=$(this).closest("tr"); 
        var adminID=currentRow.find("td:eq(0)").html();
        $.each(adminList, function( key, admin ) {
            console.log(admin);
            console.log(adminID == admin['adminID']);
            if(adminID == admin['adminID']){
                $('#mAdminID').html(admin['adminID']);
                $('#mName').html(admin['name']);
                $('#mUsername').html(admin['username']);
                $('#mEmail').html(admin['email']);
                $('#mPicture').html(admin['picture']);        
                $('#adminInfoModal').modal('toggle');
                return;
            }
        });
    });

    $("#dataTable").on('click','.btnEdit',function(){
        var currentRow=$(this).closest("tr"); 
        var adminID=currentRow.find("td:eq(0)").html();
        $.each(adminList, function( key, admin ) {
            console.log(admin);
            console.log(adminID == admin['adminID']);
            if(adminID == admin['adminID']){
                $('#meAdminID').html(admin['adminID']);
                $('#meName').html(admin['name']);
                $('#meUsername').html(admin['username']);
                $('#meEmail').html(admin['email']);     
                $('#adminEditModal').modal('toggle');
                return;
            }
        });
    });

      function showAdminData(adminID){
        alert(adminID);
      }

    function updateAccountStatus(userID, status){
        $.ajax({
            url: "../../common/db.php",
            type: "POST",
            data: {
              action:'update-account-status',
              userID: userID,
              status: status					
            },
            cache: false,
            success: function(dataResult){
                var dataResult = JSON.parse(dataResult);
                if(dataResult.statusCode == 200){
                    alert("Success");
                } else {
                    alert("Failed");
                }
                $('#adminInfoModal').modal('toggle');
                $('#dataTable').DataTable();
            }
          });
    }
  
      function retrieveAdminRequestList(){
        $.ajax({
            url: "../../common/db.php",
            type: "POST",
            data: {
              action:'retrieve-admin-list'						
            },
            cache: false,
            success: function(dataResult){
                var dataResult = JSON.parse(dataResult);
                if(dataResult.statusCode != 201){
                    adminList = dataResult;
                    var adminData = '';
                    $.each(dataResult, function( key, admin ) {
                        adminData = adminData.concat("<tr>",
                            populateTableData(admin['adminID']),
                            populateTableData(admin['name']),
                            populateTableData(admin['email']),
                            populateTableData("<a class='btnSelect btn btn-sm btn-primary'><i class='fas fa-eye'></i></a> | <a class='btnEdit btn btn-sm btn-success'><i class='fas fa-edit' data-toggle='adminEditModal'></i></a> | <a class='btnDelete btn btn-sm btn-danger'><i class='fas fa-trash fa-cog'></i></a>"),
                            "</tr>");
                    });
                } else {
                    adminData = adminData.concat("<tr class='odd'>",
                            '<td valign="top" colspan="5" class="dataTables_empty">No Admin Account Available</td>',
                            "</tr>");   
                }
                $("#tableBody").html(adminData);
                $('#dataTable').DataTable();
            }
          });
      }

      
        
    });
</script>